html {
    background: lightcoral;
    font-family: 'Thasadith', sans-serif;
    margin: 30px;
}
h1 {
    background: black;
    color: white;
}

img { 
    border-radius: 115px;
    margin-top: 15px;
}

form {
    border: 1px solid white;
    width: 500px;
    padding: 30px;
    margin: 30px; 
}

.form-label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.form-input {
    width: 200px
    height: 35px
    font-size: 18px;
    padding: 3px;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background: white;
    border: none;
}

table {
    position: relative;
    left: 25%;
}

table th {
    border-bottom: 1px dotted black;
}

table tr:nth-child(even) { 
    border: 1px solid black;
    background: lightgray;
}

table tr:nth-child(odd) {
    background: white;
}