html {

    background: black;
    color: whitesmoke;
    font-family: 'Gabarito', cursive;
    
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.centered {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Används för att centrera vertikalt på sidan */
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }