html {

    background: black;
    color: whitesmoke;
    font-family: 'Gabarito', cursive;
    
  }

head {
    box-sizing: inherit;
}

link {
    display: none;
}

  .container {
    position: absolute;
    text-align: center;
  }

  .image {
    display: inline-block;
    margin: 10px;
    top: 30%;
    left: 50%;
  }

  .text-over-image {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: whitesmoke;

  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;

  }


.centered {
    text-align: center;
    margin-top: -75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Används för att centrera vertikalt på sidan */
    margin-top: 540px;
    margin-bottom: 400px;
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }  

.fit-image {
    position: relative;
    top: 50%;
    left: 33%;
}

.text {
    margin-right: -27%;
}

